.BuildControls{
width: 100%;
box-sizing: border-box;
background: linear-gradient(#ffa83df8, #f4ff7d7a);
display: flex;
flex-flow: column;
align-items: center;
/* box-shadow: 0 2px 2px gray; */
margin: 0px 0 -10em 0em;
padding: 4em 0px;
}
.Price{
    /* border: 0.01px solid red; */
    border-radius: 8px;
    padding: 10px;
    color: #1a0e16ee;
    font-weight: 900;
    margin: 5px auto 35px auto;
    background: linear-gradient(rgba(255, 255, 255, 0.807),rgb(255, 255, 255));
}

.OrderButton{
    background:linear-gradient( rgb(255, 145, 0),rgba(255, 0, 0, 0.726));
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    border-radius: 8px ;
    color: #fdfaf4;
    font-family: inherit;
    font-weight: 900;
    font-size: 1.2em;
    padding: 10px;
    box-shadow: 2px 2px 10px 0.5px #83824d80;
    margin: 2em auto;   
    transition: ease 700ms ;
    
}

.OrderButton:hover,.OrderButton:active {
    background: linear-gradient(rgb(176, 255, 50),rgb(121, 177, 31));
    color: #0f0c06;
    font-weight: bold;
    /* transform: scale(1.1); */
}

.OrderButton:disabled {
    background: rgb(226, 39, 39);
    cursor: not-allowed;
    /* border: 1px solid #ccc; */
    color: #f7f4f4;
}

.OrderButton:not(:disabled) {
    animation: enable 0.5s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
