.BuildControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;

}
.BuildControl button{
 display: block;
 font: inherit;   
 padding: 5px;
 margin: 0 5px;
 width: 80px ;
 border: 1px solid rgba(255, 196, 0, 0.596);
 border-radius: 5px;
 cursor: pointer;
 outline: none;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background: linear-gradient( rgb(255, 175, 76),rgba(255, 225, 93, 0.815));
    color: white;
}

.BuildControl .More {
    background: linear-gradient(rgb(246 107 15 / 85%),#ffad46);
    
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #99703F;
    color: white;
}
