.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: #ffff;
    padding: 32px 16px ;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out ;
   
}
.SideDrawer a{
    margin-top: 2em;
    text-decoration: none;
}
.Logo{
    height: 9%;
    background-color:rgba(255, 226, 98, 0.068);
    width: 70px;
    display: block;
    margin: auto;

}
@media (min-width:500px){
    .SideDrawer{
        display: none;
    }
}
.Open{
transform: translateX(0);
}
.Close{
transform: translateX(-100%);
}