.ContactData{
    margin: 5em auto;
    width: 80%;
    text-align: center;
    border-radius: 07px;
    background: white;
    color: black;
    box-shadow: 0px 0px 30px 0px #80808040;
    padding: 2em;
}    

@media(min-width){
    .ContactData{
        width: 500px;
    }
}
